<div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h6 class="card-title"><strong>{{quote.author}}</strong></h6>
    <!-- Subtitle -->
   <!--  <h6 class="font-weight-bold indigo-text py-2">{{quote.quote}}</h6> -->
    <!-- Text -->
    <p class="card-text"><em>"{{quote.quoteDescription}}."</em>
    </p>
     <p class="card-text">Posted by: {{quote.name}}.
    </p>

    <div class="row">
        <div class="col-6">
            <p> Upvote: {{quote.upvote}}</p>
        </div>
        <div class="col-6">
            <p>Downvote: {{quote.downvote}}</p>
        </div>
    </div>
    <p>Active For: {{quote.date | dateCount}} Days</p>


</div>